<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE_APPENDER" />
    </root>

</configuration>